<ul class="nav justify-content-center">
    <li class="nav-item" (click)="logRoute('home')">
        <a class="nav-link" [ngClass]="{'active': defaultRoute === 'home' }" routerLink="/home">Home</a>
    </li>
    <li class="nav-item" (click)="logRoute('About')">
        <a class="nav-link" [ngClass]="{'active': defaultRoute === 'About' }" routerLink="/about">About </a>
    </li>
    <li class="nav-item" (click)="logRoute('Contact')">
        <a class="nav-link" [ngClass]="{'active': defaultRoute === 'Contact' }" routerLink="/contact">Contact </a>
    </li>
</ul>